:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  --text-color: #ffffffde;
  --bg-color: #292929;
  --border-col: #ffffff1f;
  --border: 1px solid var(--border-col);
  --hover-bg: #99999920;
  --selected-bg: #8ecae220;
  --selected-color: #50b9ff;
  --transition: all 0.3s ease-in-out;

  color: var(--text-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #8eb5c5;
  color: #093c77;
}

a,
button {
  background-color: inherit;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

a {
  color: cornsilk;
  font-family: 'Fira Code VF';
  text-decoration: underline;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  border: none;
  border-radius: 5px;
  background-color: #00000033;
}

input:focus,
textarea:focus {
  outline: 1px solid #fff;
}

code {
  padding: 2px 4px;
  border-radius: 5px;
  background-color: #00000033;
  font-family: "Fira Code VF", "Fira Code", "Consolas", "Courier New", monospace;
}

code>* {
  font-family: "Fira Code VF", "Fira Code", "Consolas", "Courier New", monospace;
}

code>pre {
  padding: .3rem;
  overflow: scroll;
  border-radius: .6rem;
}

code>pre::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

* {
  outline: none;
  user-select: none;
  box-sizing: border-box;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
}

hr {
  border: none;
  border-top: var(--border);
  margin: 5px 0;
}

.scrollable {
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.scrollable::-webkit-scrollbar {
  width: 8px;
}

.scrollable::-webkit-scrollbar-thumb,
pre::-webkit-scrollbar-thumb {
  background-color: #ffffff33;
  border-radius: 3px;
}

.scrollable::-webkit-scrollbar-track,
pre::-webkit-scrollbar-track {
  border-radius: 4px;
}

.fa::before {
  margin-right: 3px;
}